.body {
  width: calc(10% + 55vw);
  margin: auto;
  display: flex;
  margin-top: 5%;
  justify-content: center;
  gap: 1vw;

}

.text {
  width: calc(10% + 30vw);
  height: calc(10% + 10vw);
  margin-bottom: 3.5%;
  background-color: #171F26;

  border-radius: 20px;

}

.projects {
  width: calc(10% + 30vw);
  height: calc(10% + 10vw);

}


.project {
  background-color: #171F26;
  margin: 0 auto 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  border-radius: 20px;


}

.project p {
  color: #F1F2F4;
  width: 80%;
  margin-top: 1.5%;

}

.project span {
  color: #A3ABB2;
}




.text p {
  width: 80%;
  text-align: justify;
  margin: 10% auto;
  font-weight: 500;
  line-height: 45px;
  color: #F1F2F4;
}



#linkProjeto:hover {
  background-color: #F1F2F4;
  color: black;
  transition-timing-function: ease-in-out;
  transition-delay: 250ms;
  transition-duration: 150ms;
}

.image-container {
  width: 30vw;
  height: 15vw;
  margin: 0.2rem 0 5rem 0;
  position: relative;
}

.image-container .image {
  width: 100%;
  height: 100%;
  position: relative !important;
  object-fit: cover;
}

@media(max-width:500px) {
  .body {
    flex-direction: column;
    width: 100%;
  }

  .projects {
    width: 80%;
    margin: auto;
  }

  .image-container {
    width: 60vw;
    height: 45vw;
    margin: 0.2rem 0 5rem 0;
    position: relative;
  }

  .text {
    width: 80%;
    margin: 0 auto 25px;
  }







}